*{
    margin: 0;
    padding: 0;
}

body {
    background: url(../IMG/loguin/Simple\ Shiny.svg)no-repeat center/cover;
}

.quadrado {
    width: 345px;
    height: 490px;
    background: #0B2037;
    text-align: center;
    margin-left: 520px;
    margin-top: 70px;
    border-radius: 10px;
}

.quadrado h1 {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 100px;
    padding-bottom: 40px;
    font-size: 30px;
}

.formulario input {
    padding: 17px;
    border: 0.5px solid white;
}

.borda-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.borda-baixo {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.quadrado button {
    margin-top: 8px;
    width: 210px;
    height: 35px;
    border-radius: 10px;
    border: 0.5px solid black;
    cursor: pointer;
    background-color: black;
    color: white;
    font-weight: bold;
    opacity: 50%;
}

.lua-branca-bottom {
    background: white;
    margin-top: 120px;
    height: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.lua-branca-bottom a {
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}