@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Libre+Bodoni:ital@1&family=Lora&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background: url(../img/page-produtos/background.svg);
}

main {
    margin-bottom: 20px;
}

.cabecalho {
    background: rgba(15, 49, 70, 0.8);
    height: 60px;
    filter: contrast(115%);
}

.cabecalho div {
    display: flex;
    justify-content: end;
}

.cabecalho div i {
    margin-right: 60px;
    margin-top: 20px;
}

.fundo-azul-carrosel {
    margin-top: 30px;
    padding-top: 20px;
    background: rgba(15, 49, 70, 0.8);
    height: 530px;
    width: 60%;
    margin-left: 260px;
    filter: contrast(115%);
    border-radius: 15px;
}

.carousel {
    margin-left: 120px;
    width: 70%;
}

.carousel-inner {
    border-radius: 15px;
}

.parte-branca-descricao-produto {
    background: #fff;
    width: 680px;
    height: 150px;
    margin-left: 50px;
    margin-top: 15px;
    border-radius: 20px;
    display: flex;
}

.parte-branca-descricao-produto div {
    padding: 16px;
}

.parte-branca-descricao-produto div h2 {
    font-size: 25px;
}

.parte-branca-descricao-produto div:nth-child(1) {
    width: 60%;
    margin-top: 15px;
}

.parte-branca-descricao-produto div:nth-child(1) h2 {
    text-align: center;
}

.parte-branca-descricao-produto div:nth-child(1) p {
    text-align: center;
    font-size: 26px;
    color: #00ff00;
}

.parte-branca-descricao-produto div:nth-child(2) {
    border-left: 1px solid black;
}

.parte-branca-descricao-produto div:nth-child(2) h2 {
    margin-left: 55px;
    margin-top: 13px;
}

.parte-branca-descricao-produto div:nth-child(2) button {
    margin-left: 70px;
    margin-top: 2px;
    background: #1B557A;
    padding: 5px;
    color: white;
    width: 100px;
    border-radius: 10px;
    border: 1px solid white;
    font-size: 20px;
}

@keyframes pisca-pisca {
    0% { opacity: 0; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

.pisca-pisca {
  text-decoration: none;
  border-radius: 4px; 
  -webkit-animation: pisca-pisca .8s linear infinite;
  -moz-animation: pisca-pisca .8s linear infinite;
  -ms-animation: pisca-pisca .8s linear infinite;
  -o-animation: pisca-pisca .8s linear infinite;
  animation: pisca-pisca .8s linear infinite;
}

.fundo-azul-segundaParte {
    margin-top: 20px;
    background: rgba(15, 49, 70, 0.8);
    height: 510px;
    width: 60%;
    margin-left: 260px;
    filter: contrast(115%);
    border-radius: 15px;
}

.fundo-azul-segundaParte h1 {
    text-align: center;
    color: white;
    padding-top: 7px;
}

.fundo-azul-segundaParte h2 {
    text-align: center;
    color: white;
}

.parte-branca-escolha-cotas {
    background: #fff;
    width: 680px;
    height: 360px;
    margin-left: 50px;
    margin-top: 15px;
    border-radius: 20px;
    padding: 20px;
    display: flex;
}

.cotas {
    display: flex;
    flex-direction: column;
}

.cotas p {
    font-size: 18px;
    font-family: 'Lora', serif;
    font-weight: bold;
    margin-left: 22px;
}

.cotas button {
    width: 250px;
    height: 45px;
    margin-left: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 23px;
    background: #d9d9d9;
    border: 1px solid white;
    font-family: 'Lora', serif;
    font-weight: bold;
}

.bt-comprar button{
    background: #198754;
    width: 280px;
    height: 200px;
    margin-top: 60px;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
    margin-left: 20px;
    border: 1px solid white;
}

.bt-comprar button p {
    color: white;
    font-size: 20px;
    font-family: 'Lora', serif;
    font-weight: bold;
    margin-bottom: 0;
}

.bt-comprar button a {
    text-decoration: none;
    color: white;
    font-size: 35px;
}

@media screen and (min-width: 700px){
    body {
        background: url(../img/page-produtos/background.svg)no-repeat;
        background-size: 200%;
    }
}

.flex-input-but {
    display: flex;
}

.flex-input-but input {
    width: 150px;
    height: 40px;
    margin-left: 10px;
    margin-top: 7px;
    border-radius: 5px;
    border: 1px solid black;
    text-align: center;
}

.flex-input-but button {
    width: 45px;
    border-radius: 60px;
    margin-left: 25px;
    margin-right: 10px;
    margin-top: 5px;
}